{%- import '../../../html.twig' as html -%}

<script src="/main.libero-bundle.js"></script>

{% spaceless %}

  <button data-behavior="behavioral-button" {{- html.attributes(attributes|default({})) }}>
    {{- html.content(text) -}}
  </button>

{% endspaceless %}
